.menu{
    position: absolute;
    background: #fafafa; 
    border: 1px solid #eee; 
    border-radius: 1px;
    /* width: 130px; */
    height:60px; 
    right:1px;
    
    
    
}
.menu li{
    list-style: none;
}

