@media screen and (min-width:2250px) {
    /* .spots-container{
        margin-left: 50px;
    } */
    
}


.cards-container{
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, 330px);
    grid-gap: 1rem;
    /* justify-content: space-between; */
    padding-left:70px;
    height: auto;
    width:auto;
    /* background-color: white; */
    /* align-items: left; */
    justify-content: center;
}