.login-signup-btn{
    display:flex;
    float:right;
    gap:8px;
}


.nav-bar-styles{
color: #222;
font: 12px nyt-franklin,Arial,Helvetica,sans-serif;
font-weight: 500;
box-sizing: border-box;
outline: 0;
background-color: #fff;
height: 100%;
}