


/* .banner-image{
    position:relative;
    background: url(background.jpeg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden; */



/* footer{
    background-color: black;
}

footer div{
    color:white;

}

.paragraph-1{
    overflow-wrap:'break-word';
    line-height: 30px;
    font-size:larger;
    /* display:flex;
    flex-direction: column;  */
    
